---
import { Icon } from "astro-icon/components";

type Props = {
  icon: string;
  label: string;
  text: string;
};
const { icon, label, text } = Astro.props;
---

<div class="flex gap-2 items-center">
  <Icon name={icon} size={20} />
  <div>
    <span class="uppercase text-xs font-sans">{label}</span>
    <p class="uppercase tracking-wide leading-none text-2xl">
      {text}
    </p>
  </div>
</div>
