---
const { textContent } = Astro.props;
---

<button
  class="rounded-full text-lg tracking-widest font-bold uppercase max-w-fit hover:bg-slate-800 transition-all focus:outline-none focus-visible:ring-4 ring-offset-2 ring-slate-950 ring-offset-slate-50 px-6 py-2 bg-slate-950 text-slate-50 flex items-center gap-1.5"
  >{textContent}
</button>
